# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/WinAPI创建窗口/.vs/WinAPI创建窗口/v15
/WinAPI创建窗口/Debug
/WinAPI创建窗口/WinAPI创建窗口/Debug
/02_第一个MFC程序/.vs/02_第一个MFC程序/v15
/02_第一个MFC程序/02_第一个MFC程序/Debug
/MFCApplication1/.vs/MFCApplication1/v15
/MFCApplication1/Debug
/MFCApplication1/MFCApplication1/Debug
/03_MFCTest/.vs/03_MFCTest/v15
/*/.vs
/*/Debug
/*/*/Debug
